<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csdj.mapper.System.SystemRoleMapper">

    <!-- 查询Role角色表全部信息 -->
    <select id="GetRoleStart" resultType="Role">
        SELECT * FROM as_role
    </select>

    <!-- 进行修改角色功能 -->
    <update id="UpdateRole">
        UPDATE as_role SET roleName = #{roleName},isStart = #{isStart} WHERE id=#{id}
    </update>

    <!-- 进行删除角色功能 -->
    <delete id="DeleteRole">
         DELETE  FROM as_role WHERE id = #{id}
    </delete>

    <!-- 进行新增角色功能 -->
    <insert id="AddRole">
          INSERT INTO as_role (roleName,creationTime,createdBy,isStart)  VALUES(#{roleName},#{creationTime},#{createdBy},#{isStart});
    </insert>
</mapper>